  table {
    margin: auto;
  }
  td {
    text-align: center;
  }
  img {
    opacity: 0.3;
  }
  img:hover {
    opacity: 1.0;
  }
  tr:nth-child(3n+1) {
    background-color: orange;
  }
  tr:nth-child(3n+3) {
    background-color: gray;
  }
  .sample {
    color: red;
  }
  #sample {
    color: Blue;
  }
